language: ruby

rvm:
  - ruby-head
  - 2.5.1
  - 2.4.4
  - 2.3.7
  - 2.2.10
  - 2.1.10

before_install:
  - gem update --system
install:
  - bundle install --without development
addons:
  apt_packages:
    libmagic-dev
script:
  - bundle exec parallel_rspec spec
